div#box {
  width: 99%;
  height: 600px;
}

div.form {
    margin-top: 15%;
    margin-left: 45%;
    width: 160px;
    border: solid;
}

div.tbl {
    display: table;
}

div.th {
    display: table-row;
}
div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.tr:hover {
    background-color: 0ce5f7;
}